# dirs, files, and patters to exclude
**/project.xcworkspace
**/xcshareddata
**/xcuserdata
*.claude
*.dylib
*.mxe
*.mxe64
*.mxo
*.o
*.opensdf
*.pyc
*.sdf
*.sln
*.suo
.DS_Store
.env
.mypy_cache
.pytest_cache
.quarto
.venv
.vs
.vscode
__pycache__
build
CLAUDE.md
CMakeFiles
extensions/*
externals/*
log.txt
logs
package-info.json
support/*
tmp
uv.lock
